<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{name}}</title>
</head>

<body>
  <h1>{{name}} 内置网页</h1>
  <p>{{description}}</p>

  <div>作者: {{author}}</div>
</body>

</html>
